@font-face {
  font-family: "iconfont"; /* Project id 1826418 */
  src: url('iconfont.woff2?t=1644648813859') format('woff2'),
       url('iconfont.woff?t=1644648813859') format('woff'),
       url('iconfont.ttf?t=1644648813859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon--:before {
  content: "\e726";
}

.icon-quanping_huaban:before {
  content: "\e623";
}

.icon-yangshi:before {
  content: "\e60b";
}

.icon-xiaochengxu1:before {
  content: "\e63c";
}

.icon-xiaochengxu:before {
  content: "\e63e";
}

.icon-jiantou6:before {
  content: "\e62b";
}

.icon-jiantou-right:before {
  content: "\e607";
}

.icon-dunpai:before {
  content: "\e604";
}

.icon-shishigengxin:before {
  content: "\e653";
}

.icon-mianfeipeixun:before {
  content: "\e651";
}

.icon-gaoxingjiabi:before {
  content: "\e650";
}

.icon-zhinengjianzhan:before {
  content: "\e64f";
}

.icon-pinpaibaozheng:before {
  content: "\e64e";
}

.icon-baojiaquotation:before {
  content: "\e63a";
}

.icon-zhankai:before {
  content: "\e603";
}

.icon-guanbicuowu:before {
  content: "\e62d";
}

.icon-zhengquetishi:before {
  content: "\e652";
}

.icon-wenhao:before {
  content: "\e61a";
}

.icon-xiaolian:before {
  content: "\e702";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\eb57";
}

.icon-uedna-logo:before {
  content: "\e645";
}

.icon-uelike-logo:before {
  content: "\e644";
}

.icon-iconfonterweima:before {
  content: "\e620";
}

.icon-huanyihuan:before {
  content: "\e6d0";
}

.icon-huanyihuan2:before {
  content: "\e643";
}

.icon-fenlei:before {
  content: "\e601";
}

.icon-double-up:before {
  content: "\eb56";
}

.icon-double-down:before {
  content: "\e600";
}

.icon-kexuejishu-13:before {
  content: "\e9c0";
}

.icon-shejiyukaifa-:before {
  content: "\eaca";
}

.icon-shejiyukaifa-2:before {
  content: "\eacc";
}

.icon-erweima:before {
  content: "\e681";
}

.icon-weixin1:before {
  content: "\e60a";
}

.icon-weibo1:before {
  content: "\e611";
}

.icon-desktop:before {
  content: "\e602";
}

.icon-phone:before {
  content: "\e606";
}

.icon-tongzhi1:before {
  content: "\e629";
}

.icon-uemologo-copy:before {
  content: "\eb51";
}

.icon-jiantou5-copy-copy:before {
  content: "\eb52";
}

.icon-jiantou5-copy-copy-copy:before {
  content: "\eb53";
}

.icon-sousuo-copy:before {
  content: "\e61d";
}

.icon-jiantou5-copy-copy-copy1:before {
  content: "\eb54";
}

.icon-jiantou5-copy-copy-copy-copy:before {
  content: "\eb55";
}

