<div id="pages" class="pages wow">
  <a href="#" class="page-item active">1</a>
  <a href="#" class="page-item">2</a>
  <a href="#" class="page-item">3</a>
  <a href="#" class="page-item">4</a>
  <a href="#" class="page-item">5</a>
  <a href="#" class="page-item page-ellipsis">…</a>
  <a href="#" class="page-item">9</a>
  <a href="#" class="page-item page-next">
    <i class="iconfont icon-jiantou5-copy-copy-copy"></i>
  </a>
</div>